body {
  padding: 10px 10px;
}

/* PUBNUB */
.chat-global {
  /* background-color: rgb(189, 189, 137); */
}

.msg-container {
  width: fit-content;
  padding: 0 3px;
  background-color: rgb(189, 189, 137);
}

.chat-msg {
  display: inline-block;
  vertical-align: middle;
  width: auto;
}

.chat-publisher {
  font-weight: bold;
  font-size: 18px;
  margin-right: 5px;
}

.first {
  margin: 0 auto;
  width: 300px;
  height: 100px;
  background-color: brown;
}

.test {
  height: 200px;
  background-color: rgb(78, 58, 134);
  border-width: 3px;
  border-color: red;
  color: white;
  text-align: center;
}

.header {
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.player-container {
  height: 60px;
}

#player1,
#player2,
.h1-header {
  line-height: 60px;
}

.game-container {
  display: flex;
  justify-content: space-around;
}

.loot-global {
  width: 250px;
  text-align: center;
  /* height: 90%; */
}

.loot-player1-itself,
.loot-player2-itself {
  height: 90%;
  background-color: aquamarine;
}

.board {
  margin: 30px 0;

  display: grid;
  grid-template-columns: repeat(8, 90px);
  grid-template-rows: repeat(8, 90px);

  /* justify-content: center; */
  /* align-content: center; */
  border: 1px solid black;
}

.square {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(44, 41, 41);
}

.square:hover {
  opacity: 0.5;
}

i {
  font-size: 50px;
  color: rgb(161, 31, 31);
}

.figure {
  width: 65px;
  height: 65px;
  padding-top: 8%;
  font-size: 50px;
  text-align: center;
}

.white {
  color: rgb(155, 141, 16);
}

.black {
  color: rgb(112, 17, 17);
}

.yellow {
  background-color: yellow !important;
}
