body {
  padding: 10px 10px;
}

.disable {
  pointer-events: none;
}

/* PUBNUB */
.global-container {
  display: flex;
  justify-content: space-around;
}

.game-container {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
}

.chat-global {
  width: 300px;
  padding: 5px 0 0 5px;
  border-radius: 3px;
  border: 3px solid black;
}

#sendButton {
  width: 80px;
}

.msg-container {
  width: fit-content;
  padding: 0 3px;
  /* background-color: rgb(189, 189, 137); */
}

.msg-color1 {
  background-color: rgb(189, 189, 137);
}

.msg-color2 {
  background-color: rgb(110, 185, 190);
}

.chat-msg {
  display: inline-block;
  vertical-align: middle;
  width: auto;
}

.chat-publisher {
  font-weight: bold;
  font-size: 18px;
  margin-right: 5px;
}

.first {
  margin: 0 auto;
  width: 300px;
  height: 100px;
  background-color: brown;
}

.test {
  height: 200px;
  background-color: rgb(78, 58, 134);
  border-width: 3px;
  border-color: red;
  color: white;
  text-align: center;
}

.header {
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.player-container {
  height: 60px;
}

#player1,
#player2,
.h1-header {
  line-height: 60px;
}

.h1-header,
.h3-info {
  display: block;
  text-align: center;
}

.loot-global {
  width: 250px;
  text-align: center;
  /* height: 90%; */
}

.loot-player1-itself,
.loot-player2-itself {
  height: 90%;
  background-color: rgb(72, 82, 177);
  border-radius: 5px;
}

.board {
  margin: 30px 40px;

  display: grid;
  grid-template-columns: repeat(8, 90px);
  grid-template-rows: repeat(8, 90px);

  /* justify-content: center; */
  /* align-content: center; */
  border: 1px solid black;
}

.square {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(44, 41, 41);
}

.square:hover {
  opacity: 0.5;
}

i {
  font-size: 50px;
  color: rgb(161, 31, 31);
}

.figure {
  width: 65px;
  height: 65px;
  padding-top: 8%;
  font-size: 50px;
  text-align: center;
}

.white {
  color: rgb(155, 141, 16);
}

.black {
  color: rgb(112, 17, 17);
}

.yellow {
  background-color: yellow !important;
}


/****** MOBILE ******/
/* Add a media query for smaller screens (max-width: 768px) */
@media screen and (max-width: 768px) {

  body {
    padding: 5px;
  }

  .global-container {
    width: 99%;
    margin: 0 auto;
    flex-direction: column;
  }

  .game-container {
    width: 100%;
    margin: 0;
    margin-bottom: 20px;
    flex-direction: column; /* Stack game container items vertically on small screens */
  }

  .chat-global {
    width: 100%; 
    margin-bottom: 10px; /
  }

  .loot-global {
    display: none;
  }

  .header {
    flex-direction: column; /* Stack header items vertically on small screens */
    height: auto; 
  }

  .player-container {
    height: auto;
    margin-bottom: 5px; 
  }

  .header {
    width: 100%;
  }

  .h1-header,
  .h3-info {
    text-align: center;
  }

  .board {
    width: 100%;
    margin: 0;
    grid-template-columns: repeat(8, 12vw);
    grid-template-rows: repeat(8, 12vw);
    /* border: 1px solid red; */
  }

  .figure {
    width: 30px; 
    height: 30px;
    font-size: 7vw;
  }

  #sendButton {
    width: 100%; 
    margin-top: 5px; 
  }

  #message-body {
    width: 100%;
  }

  #messages {
    max-height: 200px; 
    overflow-y: auto; 
  }


}
